<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Product
		Id="*"
		UpgradeCode="12345678-1234-1234-1234-111111111111" 
		Name="Pravda SDK CLI"
		Version="0.0.1"
		Manufacturer="Mytc"
		Language="1033">

		<Package
			InstallerVersion="200"
			Compressed="yes"
			Platform="x64"
			Comments="Windows Installer Package"
		/>

		<Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLDIR" Name="mytc">
					<Directory Id="PravdaCLI" Name="pravda">
					</Directory>
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="PravdaCommandLineInterface" Level="1">
			<ComponentGroupRef Id="PravdaCLIComponent"/>
		</Feature>

	</Product>

</Wix>
